@font-face {
  font-family: 'custom-icon';  /* Project id 3242173 */
  src: url('https://at.alicdn.com/t/font_3242173_rd72xxwdbi.eot?t=1647369753159'); /* IE9 */
  src: url('https://at.alicdn.com/t/font_3242173_rd72xxwdbi.eot?t=1647369753159#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://at.alicdn.com/t/font_3242173_rd72xxwdbi.woff2?t=1647369753159') format('woff2'),
       url('https://at.alicdn.com/t/font_3242173_rd72xxwdbi.woff?t=1647369753159') format('woff'),
       url('https://at.alicdn.com/t/font_3242173_rd72xxwdbi.ttf?t=1647369753159') format('truetype'),
       url('https://at.alicdn.com/t/font_3242173_rd72xxwdbi.svg?t=1647369753159#custom-icon') format('svg');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.custom-icon-mima:before {
  content: "\e8eb";
}

.custom-icon-yingyuan:before {
  content: "\e8ec";
}

.custom-icon-WIFI:before {
  content: "\e8ed";
}

.custom-icon-huodong:before {
  content: "\e604";
}

.custom-icon-huodong-fill:before {
  content: "\e605";
}

.custom-icon-dayu:before {
  content: "\e632";
}

.custom-icon-duoyun:before {
  content: "\e633";
}

.custom-icon-duoyunzhuanyin:before {
  content: "\e634";
}

.custom-icon-xiaoyu:before {
  content: "\e635";
}

.custom-icon-zhongyu:before {
  content: "\e636";
}

.custom-icon-baoyu:before {
  content: "\e637";
}

.custom-icon-wu:before {
  content: "\e638";
}

.custom-icon-leizhenyu:before {
  content: "\e639";
}

.custom-icon-wumai:before {
  content: "\e63a";
}

.custom-icon-xiaoxue:before {
  content: "\e63b";
}

.custom-icon-baoxue:before {
  content: "\e63c";
}

.custom-icon-bingbao:before {
  content: "\e63d";
}

.custom-icon-daxue:before {
  content: "\e63e";
}

.custom-icon-leizhenxue:before {
  content: "\e640";
}

.custom-icon-yujiaxue:before {
  content: "\e641";
}

.custom-icon-zhongxue:before {
  content: "\e642";
}

.custom-icon-feng:before {
  content: "\e643";
}

.custom-icon-shachen:before {
  content: "\e644";
}

.custom-icon-shachengbao:before {
  content: "\e645";
}

.custom-icon-taifeng:before {
  content: "\e646";
}

.custom-icon-qingtian:before {
  content: "\e631";
}

.custom-icon-kabao:before {
  content: "\e8bf";
}

.custom-icon-huati:before {
  content: "\e8c0";
}

.custom-icon-maiyizengyi:before {
  content: "\e8c1";
}

.custom-icon-nan:before {
  content: "\e8c2";
}

.custom-icon-nv:before {
  content: "\e8c3";
}

.custom-icon-lihe:before {
  content: "\e8c4";
}

.custom-icon-paihangbang:before {
  content: "\e8c5";
}

.custom-icon-lipinka:before {
  content: "\e8c6";
}

.custom-icon-pengyouquan:before {
  content: "\e8c7";
}

.custom-icon-mingxinghuodong:before {
  content: "\e8c8";
}

.custom-icon-saoyisao:before {
  content: "\e8c9";
}

.custom-icon-rili:before {
  content: "\e8ca";
}

.custom-icon-pinglun:before {
  content: "\e8cb";
}

.custom-icon-shaixuan:before {
  content: "\e8cc";
}

.custom-icon-shangquan:before {
  content: "\e8cd";
}

.custom-icon-shanchu:before {
  content: "\e8ce";
}

.custom-icon-shezhi:before {
  content: "\e8cf";
}

.custom-icon-profile:before {
  content: "\e8d0";
}

.custom-icon-shijian:before {
  content: "\e8d1";
}

.custom-icon-shoucang:before {
  content: "\e8d2";
}

.custom-icon-shouji:before {
  content: "\e8d3";
}

.custom-icon-home:before {
  content: "\e8d4";
}

.custom-icon-shuju:before {
  content: "\e8d5";
}

.custom-icon-shuaxin:before {
  content: "\e8d6";
}

.custom-icon-taolunqu:before {
  content: "\e8d7";
}

.custom-icon-tishi:before {
  content: "\e8d8";
}

.custom-icon-tupian:before {
  content: "\e8d9";
}

.custom-icon-xiaoxi:before {
  content: "\e8da";
}

.custom-icon-xiaoxizhongxin:before {
  content: "\e8db";
}

.custom-icon-yanjing:before {
  content: "\e8dc";
}

.custom-icon-zengjia:before {
  content: "\e8dd";
}

.custom-icon-youhuiquan:before {
  content: "\e8de";
}

.custom-icon-zhibo:before {
  content: "\e8df";
}

.custom-icon-heart-fill:before {
  content: "\e8e0";
}

.custom-icon-success-fill:before {
  content: "\e8e1";
}

.custom-icon-zan-fill:before {
  content: "\e8e2";
}

.custom-icon-faxian-fill:before {
  content: "\e8e3";
}

.custom-icon-vip-fill:before {
  content: "\e8e4";
}

.custom-icon-profile-fill:before {
  content: "\e8e5";
}

.custom-icon-home-fill:before {
  content: "\e8e6";
}

.custom-icon-tanhao:before {
  content: "\e8e7";
}

.custom-icon-favorite-fill:before {
  content: "\e8e8";
}

.custom-icon-eye-fill:before {
  content: "\e8e9";
}

.custom-icon-remen:before {
  content: "\e8ea";
}

.custom-icon-shalow:before {
  content: "\e63f";
}

.custom-icon-jigou:before {
  content: "\e61a";
}

.custom-icon-jigou-fill:before {
  content: "\e62c";
}

.custom-icon-heart:before {
  content: "\e8ab";
}

.custom-icon-bianji:before {
  content: "\e8ac";
}

.custom-icon-caidan:before {
  content: "\e8ad";
}

.custom-icon-anquan:before {
  content: "\e8ae";
}

.custom-icon-bangzhu:before {
  content: "\e8af";
}

.custom-icon-buganxingqu:before {
  content: "\e8b0";
}

.custom-icon-bofangjilu:before {
  content: "\e8b1";
}

.custom-icon-success:before {
  content: "\e8b2";
}

.custom-icon-dianhua:before {
  content: "\e8b3";
}

.custom-icon-dianzan:before {
  content: "\e8b4";
}

.custom-icon-dingwei:before {
  content: "\e8b5";
}

.custom-icon-ditu:before {
  content: "\e8b6";
}

.custom-icon-dianyingpiao:before {
  content: "\e8b7";
}

.custom-icon-dingdan:before {
  content: "\e8b8";
}

.custom-icon-gengduo:before {
  content: "\e8b9";
}

.custom-icon-faxian:before {
  content: "\e8ba";
}

.custom-icon-ertongpiao:before {
  content: "\e8bb";
}

.custom-icon-hongbao:before {
  content: "\e8bc";
}

.custom-icon-fenxiang:before {
  content: "\e8bd";
}

.custom-icon-vip:before {
  content: "\e8be";
}

