.position-guide-box {
    background: linear-gradient(1turn, #f4f4f7, #fff 14%, #fff);
    padding-bottom: 32rpx;
}

.position-guide {
    width: 686rpx;
    height: 140rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32rpx;
    margin: 0 auto;
    background: #f6f7fb;
    border-radius: 16rpx;
}

.position-guide .title {
    font-size: 28rpx;
    color: #111e38;
    line-height: normal;
    font-weight: 700;
    padding-bottom: 14rpx;
}

.position-guide .sub-title {
    font-size: 24rpx;
    color: #838a97;
    line-height: normal;
}

.position-guide .open {
    width: 132rpx;
    height: 48rpx;
    background: #00e699;
    border-radius: 8rpx;
    font-weight: 700;
    color: #111e38;
    font-size: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
}
