// 引入公共基础类
@import "./libs/css/common.scss";
@import "./libs/css/color.scss";

// 非nvue的样式
/* #ifndef APP-NVUE */
@import "./libs/css/style.vue.scss";
/* #endif */

// nvue的特有样式
/* #ifdef APP-NVUE */
@import "./libs/css/style.nvue.scss";
/* #endif */

// 小程序特有的样式
/* #ifdef MP */
@import "./libs/css/style.mp.scss";
/* #endif */

// H5特有的样式
/* #ifdef H5 */
@import "./libs/css/style.h5.scss";
/* #endif */

.home{
	padding: 20rpx;
}

.color{
	color: #39CCCC;
}

.colorFF{
	color: #FFFFFF;
}

.colorFC{
	color: #FCE8BB;
}

.colorF9{
	color: #FF9900;
}

.colorF5{
	color: #F5F5F5;
}

.bgF7{
	background-color: #FFFFFF;
}

.bgColorF7{
	background-color: #F7F7F7;
}

.bgColor{
	background-color: #39CCCC;
}

.over-one{
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.over-two{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.text-center{
	text-align: center;
}