/* 全局类名 */
.over_hide {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.more-hide {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	/*解决纯英文纯数字不能换行*/
	word-break: break-all;
}

.clear-fix::after {
	clear: both;
	content: "";
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
}

.clear-fix {
	zoom: 1;
}

.g-inline{
  display: inline;
}

.g-inline-block{
  display: inline-block;
}