.jobListBox {
    flex-flow: row wrap;
    padding: 0 32rpx;
    flex-wrap: wrap;
}

.gridList,
.jobListBox {
    display: flex;
    justify-content: space-between;
}

.gridList {
    width: 100%;
}

.leftColumn,
.rightColumn {
    width: 50%;
    height: auto;
}

.rightColumn {
    padding-left: 4rpx;
}

.jobListTitle {
    font-size: 32rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #fff;
}

.diviDing {
    width: 80rpx;
    height: 4rpx;
    background: #fff;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jobListDes {
    font-size: 20rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #fff;
    line-height: 20rpx;
}

.textMg {
    margin-top: 16rpx;
}

.fontIndex {
    z-index: 666;
}

.quality-box {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 32rpx;
}

.quality-item,
.quality-itemLeft {
    height: 360rpx;
    width: 334rpx;
    position: relative;
    overflow: hidden;
    border-radius: 16rpx;
    margin-top: 16rpx;
}

.quality-itemLeft-image {
    width: 100%;
    height: inherit !important;
}

.quality-itemLeft:nth-child(1) {
    height: 254rpx;
    margin-top: 0;
}

.quality-item:nth-child(1) {
    margin-top: 0;
}

.quality-item-image {
    width: 100%;
    height: inherit !important;
}

.quality-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(1turn, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
}

.quality-info {
    padding: 224rpx 32rpx 0rpx;
}

.quality-info,
.quality-infoFirst {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
}

.quality-infoFirst {
    padding: 134rpx 32rpx 0rpx;
}

.quality-title {
    width: 100%;
    font-size: 36rpx;
    color: #fff;
    line-height: 40rpx;
    text-align: center;
    font-weight: 600;
}

.quality-subtitle {
    width: 100%;
    font-size: 28rpx;
    color: hsla(0, 0%, 100%, 0.8);
    line-height: 30rpx;
    text-align: center;
    margin-top: 10rpx;
}

.experenceBtn {
    height: 380rpx;
    overflow: hidden;
}

.experenceBtnFirst {
    height: 254rpx;
    overflow: hidden;
}
