@import "./scss/flex.scss";
@import "./scss/global-class.scss";

/* CSS格式化 */
*,
*::before,
*::after,
view,
text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFangSC-Medium;
}

text{
  display: inline-block;
}

.layout-padding {
  padding: 0 50rpx;
}

.layout-minheight {
  /* #ifndef MP */
  min-height: calc(100vh - 50px);
  /* #endif */
  /* #ifdef MP */
  min-height: 100vh;
  /* #endif */
}